---
title: Contact
---
<div class="text-center">
  <ul class="list-inline">
    <li>
      <h2>Romain Paillard</h2>
      <p>yoyoyo</p>
    </li>
    <li>
      <h2>Boris Paillard</h2>
      <p>yoyoyo</p>
    </li>
    <li>
      <h2>Sebastien Saunier</h2>
      <p>Yoyoyo</p>
    </li>
  </ul>
</div>

